* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general*/
body {
  font-family: "Montserrat", sans-serif;
}

/* estilos de header*/
header {
  display: flex;
  flex-direction: column;
  background-color: #f4a710;
  align-items: center;
}

header .navbar {
  padding-bottom: 5px;
}

header .navbar .container-fluid {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

header nav div .logo img {
  width: 120px;
  height: 120px;
}

header nav div .colorFondo {
  text-align: center;
}

header nav div div ul li {
  font-size: 1.5rem;
}

/* estilos de main*/
main {
  background-color: #d7d8d8;
}

footer {
  height: 30px;
  background-color: #f4a710;
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
}

/*estilos de tablet para el header*/
@media screen and (min-width: 760px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: #f4a710;
    align-items: center;
  }
  header .navbar {
    padding-bottom: 5px;
  }
  header .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  header nav div .logo img {
    width: 120px;
    height: 120px;
  }
  header nav div .colorFondo {
    text-align: center;
  }
  header .navbar .container-fluid .colorFondo ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px auto;
    background-color: #f4a710;
    width: 100vh;
    justify-content: center;
  }
  header nav div div ul li {
    font-size: 1.5rem;
  }
}
/*estilos de desktop para el header*/
@media screen and (min-width: 1024px) {
  header .navbar .container-fluid {
    flex-direction: row;
    padding-right: 1rem;
  }
  header .navbar .container-fluid .colorFondo {
    background-color: #f4a710;
    text-align: center;
    border: none;
  }
}
/* #index {
  display: flex;
  flex-direction: column;
}

#index .texto {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

#index .texto h1 {
  font-size: 1.5rem;
  text-align: center;
}

#index .img img {
  width: 100%;
  height: 380px;
  border-radius: 8px;
}

#index .newPromo .textoPromo {
  text-align: center;
  padding-top: 10px;
}

#index .newPromo .textoPromo h2 {
  font-size: 1.5rem;
}

#index .newPromo .promo .promo1 .textoPromo, #index .newPromo .promo .promo2 .textoPromo, #index .newPromo .promo .promo3 .textoPromo {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color: #f4a710;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#index .newPromo .promo .promo1 .textoPromo p, #index .newPromo .promo .promo2 .textoPromo p, #index .newPromo .promo .promo3 .textoPromo p {
  font-size: 1.25rem;
}

#index .newPromo .carousel div img {
  width: 100vw;
  height: 200px;
  border-radius: 8px;
}

#index .newPromo .carousel .carousel-inner .carousel-item {
  transition: 0.8s;
} */

/*estilos de accesorios movil*/

#acc {
  background-color: #d7d8d8;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#acc .accesorio {
  padding: 10px 5px;
}

#acc .accesorio h1 {
  text-align: center;
}

#acc .ulAcc ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  justify-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

#acc .ulAcc ul li a {
  text-decoration: none;
  color: black;
}

/*estilos de naruto*/
#index #acc .carrito{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#index #acc #finalizar-compra{
  background-color: green;
  width: 120px;
  justify-content: center;
}

#index #acc #carrito-container button{
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 3px;
}

#index #acc #productos #naruto{
  display: flex;
  flex-direction: row;
}
#index #acc #productos #naruto .nombre h2 {
  text-align: center;
}

#acc #naruto .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  gap: 30px;
  padding-bottom: 10px;
}

#acc #naruto .grupo .img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#acc #naruto .grupo .img img {
  width: 190px;
  height: 190px;
}

#acc #naruto .grupo .img .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#acc #naruto .grupo .img .desc p {
  text-align: center;
  padding-right: 10px;
}

#acc #naruto .grupo .img .botton {
  display: flex;
  flex-direction: column;
}

#acc #naruto .grupo .img .botton .botton1 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #f4a710;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

#acc #naruto .grupo .img .botton .botton1 .agregar-carrito{
  background-color: #f4a710;
  border: none;
}

#acc #naruto .grupo .img .botton .botton1 a, #acc #naruto .grupo .img .botton2 a {
  text-decoration: none;
  color: black;
}

#acc #naruto .grupo .img .botton2 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #FCFB44;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  text-align: center;
}

/*estilos para dbz*/
#acc #dbz .nombre {
  text-align: center;
}

#acc #dbz .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  gap: 30px;
  padding-bottom: 10px;
}

#acc #dbz .grupo .img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#acc #dbz .grupo .img img {
  width: 190px;
  height: 190px;
}

#acc #dbz .grupo .img .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#acc #dbz .grupo .img .desc p {
  text-align: center;
  padding-right: 10px;
}

#acc #dbz .grupo .img .botton {
  display: flex;
  flex-direction: column;
}

#acc #dbz .grupo .img .botton .botton1 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #f4a710;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

#acc #dbz .grupo .img .botton .botton1 a, #acc #dbz .grupo .img .botton2 a {
  text-decoration: none;
  color: black;
}

#acc #dbz .grupo .img .botton2 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #FCFB44;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

/*mq accesorio tablet*/
@media screen and (min-width: 760px) {
  #acc #naruto, #acc #dbz {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
  }
  #acc #naruto .grupo, #acc #dbz .grupo {
    display: flex;
    flex-direction: row;
  }
  #acc #naruto .grupo .img, #acc #dbz .grupo .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  #acc #naruto .grupo .img img, #acc #dbz .grupo .img img {
    width: 30vw;
    height: 30vh;
  }
  #acc #naruto .grupo .nombre, #acc #dbz .grupo .nombre {
    text-align: center;
    align-content: center;
  }
}
/*estilo accesorio desktop*/
@media screen and (min-width: 1024px) {
  #acc {
    gap: 25px;
  }
  /* #acc .ulAcc {
    display: none;
  } */
  #acc #naruto, #acc #dbz {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #acc #naruto .grupo, #acc #dbz .grupo {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
  }
  #acc #naruto .grupo .img, #acc #dbz .grupo .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  #acc #naruto .grupo .img img, #acc #dbz .grupo .img img {
    width: 30vh;
    height: 30vh;
  }
  #acc #naruto .grupo .nombre, #acc #dbz .grupo .nombre {
    text-align: center;
    align-content: center;
  }
}
/*# sourceMappingURL=main.css.map */
